
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f7f7f7;
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
 
  .header {
    background: url('../assets/bg-header.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 1rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ff5722;
  }
  
 
  .hero {
    background: url('./assets/Bg1.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 0 2rem;
  }
  
  .hero-content {
    z-index: 2;
  }
  
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    background: #ff5722;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.25rem;
    transition: background 0.3s ease;
  }
  
  .cta-button:hover {
    background: #e64a19;
  }
  

  .features {
    padding: 4rem 2rem;
    text-align: center;
    background: url('./assets/Bg2.png') no-repeat center center/cover;
    color: #fff;
    position: relative;
  }
  
  .features:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .features h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
  }
  
  .feature {
    margin: 1rem 0;
    position: relative;
    z-index: 2;
  }
  
  .feature h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .feature p {
    font-size: 1rem;
  }
  
 
  .footer {
    background: url('./assets/Bg3.jpg') no-repeat center center/cover;
    color: transparent;
    text-align: center;
    padding: 2rem 1rem;
    position: relative;
    z-index: 2;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .social-media {
    margin-bottom: 1rem;
  }
  
  .social-media a {
    margin: 0 0.5rem;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .social-media a:hover {
    color: #ff5722;
  }
  
  .social-media svg {
    width: 30px;
    height: 30px;
  }
  

  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .hero-content p {
      font-size: 1rem;
    }
  
    .cta-button {
      font-size: 1rem;
    }
  
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links li {
      margin: 0.5rem 0;
    }
  }
  